system {
    host-name {{ hostname }};
    name-server 8.8.8.8;
    domain-name {{ domain_name }};
    root-authentication {
        encrypted-password "{{ root_encrypted_password }}"; ## Secret data
    }
    login {
        user admin_bob {
            authentication {
                encrypted-password "{{ root_encrypted_password }}"; ## Secret data
            }
            class super-user;
        }
    }
    services {
	ssh;
    }
}
interfaces {
    me0 {
	description "{{ rack_location }}";
        unit 0 {
            family inet {
                address {{ mgmt_ip }}/{{ cidr_bits }};
            }
        }
    }
}

